@charset "UTF-8";
/* A Modern CSS Reset */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role="list"], ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  height: auto;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.l-inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
  position: relative;
}

.-center {
  text-align: center;
}

.c-block + .c-block {
  padding-top: 0;
}

.-layer + .-layer {
  padding-top: 0;
}

.l-page-header + .c-block {
  margin-top: 0;
}

@media (min-width: 768px) {
  .-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.-bg-box {
  overflow: hidden;
}

@media (min-width: 768px) {
  .-bg-box {
    /*タブレット以上で白背景を表示 */
  }
  .-bg-box:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
    left: 0;
  }
}

/* 上下中央配置 */
.-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.-layer {
  background: #fffef5;
}

.-layer-main {
  background: #ffdb00;
}

/* SPでは背景をグラデーション */
@media not all and (min-width: 768px) {
  .-layer-gradient {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #fff), color-stop(30%, #ffdb00));
    background: linear-gradient(to bottom, #fff 70%, #ffdb00 30%);
  }
}

@media (min-width: 768px) {
  .-layer-gradient {
    background: #ffdb00;
    /* タブレット以上では背景を塗りつぶし */
    position: relative;
    z-index: 1;
  }
}

.-blue {
  background: #337ab7 !important;
}

.-opornent {
  background: #dd00ff !important;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  line-height: 1.7;
}

.-strong {
  font-weight: bold;
}

.l-header {
  width: 100%;
  z-index: 100;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  .l-header__inner {
    padding-right: 6%;
    padding-left: 6%;
    margin: 0 auto;
    height: 100px;
  }
}

.l-header__logo {
  width: 160px;
}

@media (min-width: 1024px) {
  .l-header__logo {
    width: 240px;
  }
}

.l-header__nav-pc {
  display: none;
}

@media (min-width: 1024px) {
  .l-header__nav-pc {
    display: block;
  }
  .l-header__nav-pc ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-header__nav-pc li {
    margin-left: 24px;
    font-weight: bold;
    font-size: 0.9rem;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .l-header__nav-pc li a {
    text-decoration: none;
  }
  .l-header__nav-pc li:hover {
    opacity: 0.8;
    color: #ffdb00;
  }
}

@media (min-width: 1024px) {
  .l-header__button {
    display: none;
  }
}

@media (min-width: 1024px) {
  .current-menu-item {
    color: #ffdb00;
    border-bottom: 2px solid #ffdb00;
  }
}

/*---------------------------------

  global-navigation

---------------------------------*/
.l-header__nav {
  background: #ffdb00;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.l-header__nav__menu {
  height: 100%;
  position: absolute;
  width: 100%;
}

.l-header__nav__menu__item {
  padding: 32px 0;
  border-bottom: 1px solid #333;
}

.l-header__nav__menu__item a {
  font-weight: bold;
  padding: 24px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  position: relative;
}

.l-header__nav__menu__item a:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/common/arrow-circle.svg) no-repeat;
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.l-header__nav__menu__item a:hover {
  color: #666;
}

.l-page-header {
  background: #ffdb00;
  text-align: center;
  padding: 1rem 0;
}

.l-page-header__title {
  font-size: 18px;
  line-height: 1.3;
}

.l-page-header__sub {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: .1em;
}

.l-footer {
  background: #333;
  color: #fff;
  padding: 32px 0;
}

@media (min-width: 768px) {
  .l-footer {
    padding-top: 80px;
  }
}

.l-footer__inner {
  max-width: 1200px;
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

/* タブレット以上では横並び表示 */
@media (min-width: 768px) {
  .l-footer__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.l-footer__logo {
  width: 160px;
}

@media (min-width: 768px) {
  .l-footer__logo {
    width: 200px;
  }
}

.l-footer__about {
  max-width: 240px;
  line-height: 1.5;
}

.l-footer__items {
  padding-top: 24px;
}

.l-footer__menu {
  padding-top: 24px;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .l-footer__menu {
    padding-top: 0;
  }
}

.l-footer__menu li {
  padding-bottom: 8px;
}

.l-footer__menu li a {
  text-decoration: none;
}

.l-footer__menu li a:before {
  display: inline-block;
  margin-right: 9px;
  content: '-';
}

@media (min-width: 768px) {
  .l-footer__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-footer__menu li {
    margin-left: 32px;
  }
}

/* footerではボーダー非表示 */
.l-footer__menu .current-menu-item {
  border-bottom: none;
}

.l-footer__copy {
  padding-top: 24px;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

.l-footer__copy a {
  text-decoration: none;
}

.p-main-visual {
  height: 50vh;
  max-height: 640px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-main-visual:after {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-size: 2px 2px;
}

@media (min-width: 1024px) {
  .p-main-visual {
    height: 80vh;
  }
}

.p-main-visual__text {
  position: relative;
  z-index: 2;
  text-align: center;
}

#slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 子要素をflexboxで揃える */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 子要素をflexboxにより縦方向に揃える */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 子要素をflexboxにより中央に配置する */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 子要素をflexboxにより中央に配置する */
}

.p-main-visual__title {
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

.p-main-visual__title span {
  font-size: 1.1em;
}

@media (min-width: 1024px) {
  .p-main-visual__title br {
    display: none;
  }
}

.p-main-visual__detail {
  padding-top: 16px;
  text-transform: uppercase;
  color: #ffdb00;
}

.p-section-title__sub {
  color: #fff100;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: .1em;
}

.p-section-title {
  font-size: 18px;
  line-height: 1.3;
}

.p-button-area {
  text-align: center;
  padding-top: 24px;
}

.p-heading-large {
  background: #ffdb00;
  margin: 1.5rem calc(50% - 50vw) 0;
  width: 100vw;
  text-align: center;
  line-height: 1.2;
  padding: 24px 0;
}

@media (min-width: 768px) {
  .p-heading-large {
    padding: 60px 0 140px;
    margin: 0;
  }
}

.p-heading-large__sub {
  display: block;
  font-size: 2rem;
}

.p-heading-large__title {
  font-size: 1rem;
}

.p-page-section__title {
  font-size: 18px;
}

.p-page-section__title span {
  color: #fff100;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding-left: 10px;
}

.p-page-section__contents {
  padding-top: 8px;
}

.p-page-section__text {
  padding-top: 8px;
}

.p-page-section__text p {
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .portrait {
    float: right;
    width: 45%;
    padding-left: 24px;
  }
}

@media not all and (min-width: 1024px) {
  .p-table__body tr {
    border-bottom: 1px solid #eaeaea;
  }
  .p-table__body th {
    display: block;
    padding-top: 16px;
  }
  .p-table__body td {
    display: block;
    padding-bottom: 8px;
  }
  .p-table__body td li:first-child {
    padding-bottom: 10px;
  }
}

.p-table__body {
  border-collapse: collapse;
  width: 100%;
}

@media (min-width: 1024px) {
  .p-table__body {
    margin-top: 24px;
  }
}

.p-table__body th {
  text-align: left;
  width: 150px;
}

@media (min-width: 1024px) {
  .p-table__body th {
    padding: 24px;
    background: #fffef5;
    border: 1px solid #eaeaea;
  }
}

@media (min-width: 1024px) {
  .p-table__body td {
    padding: 24px;
    border: 1px solid #eaeaea;
  }
}

.p-article {
  margin-bottom: 24px;
}

.p-article__title {
  background: #fff100;
  font-size: 20px;
  padding: 0.5rem 1rem 0.5rem 0.4rem;
}

.p-article__info {
  padding: 10px 5px;
}

.p-article__subtitle {
  font-size: 18px;
  padding-top: 12px;
}

.p-article__text {
  margin-bottom: 8px;
}

.tel-box {
  background: #fffef5;
  display: inline-block;
  font-size: 18px;
  padding: 8px 12px;
  margin-top: 24px;
}

.tel-box__hour {
  font-size: 0.9rem;
}

.statement__text {
  margin-top: 12px;
}

.statement__text-strong {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}

.statement__sign {
  text-align: right;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .statement {
    background: #fffef5;
    padding: 24px 36px;
    width: 88%;
    margin: 24px auto 0;
  }
}

.award__item {
  margin-top: 16px;
  padding-bottom: 24px;
}

.award__title {
  margin-bottom: 8px;
}

.c-openBtn {
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

/*ボタン内側*/
.c-openBtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 2px;
  background: #ffdb00;
  width: 45%;
}

.c-openBtn span:nth-of-type(1) {
  top: 15px;
}

.c-openBtn span:nth-of-type(2) {
  top: 23px;
}

.c-openBtn span:nth-of-type(3) {
  top: 31px;
}

.c-openBtn span:nth-of-type(3)::after {
  content: "Menu";
  /*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top: 5px;
  left: -2px;
  color: #ffdb00;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
.c-openBtn.active span:nth-of-type(3)::after {
  content: "Close";
  /*3つ目の要素のafterにClose表示を指定*/
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}

/*activeクラスが付与されると線が回転して×に*/
.c-openBtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.c-openBtn.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

.c-openBtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.c-block {
  padding: 48px 0;
  position: relative;
}

@media (min-width: 768px) {
  .c-block {
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .c-block {
    padding: 64px 0 48px;
  }
}

.c-button {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: .5rem 3rem;
  position: relative;
  max-width: 250px;
  font-weight: bold;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.c-button:after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/common/arrow-menu.svg) no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 8px;
}

.c-section-txt {
  padding-top: 12px;
}

.c-grid__contents {
  display: contents;
}

@media (min-width: 768px) {
  .c-grid__contents {
    display: initial;
    width: calc(95% / 2);
    margin: auto 0;
    z-index: 10;
    padding: 3rem 0;
  }
}

@media (min-width: 1024px) {
  .c-grid__contents {
    padding: 5rem 0;
  }
}

.c-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media not all and (min-width: 768px) {
  .c-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* SPではcolumn表示 */
  }
}

.c-grid__img, .p-section-title, .c-section-txt, .c-links, .p-page-section__title {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 768px) {
  .c-grid__img, .p-section-title, .c-section-txt, .c-links, .p-page-section__title {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
}

.c-grid__img {
  margin: 16px 0;
  z-index: 10;
}

@media (min-width: 768px) {
  .c-grid__img {
    width: calc(95% / 2);
    margin: auto 0;
  }
}

@media (min-width: 768px) {
  .c-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
}

.c-flex__item {
  padding-bottom: 24px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .c-flex__item {
    width: calc(90% / 2);
  }
}

.c-flex__title {
  font-size: 20px;
  line-height: 1.2;
  padding-left: 8px;
  margin-bottom: 8px;
}

.-sato {
  border-left: 4px solid #337ab7;
}

.-recruit {
  border-left: 4px solid #dd00ff;
}

.c-flex__text {
  padding-top: 12px;
}

.c-flex__link {
  padding-top: 12px;
  text-align: center;
}

.c-box {
  max-width: 1000px;
  /* 768px以上は横並び */
}

@media (min-width: 768px) {
  .c-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: -100px auto 0;
    z-index: 2;
    position: relative;
  }
}

.c-box__item {
  padding: 40px 0;
}

@media (min-width: 768px) {
  .c-box__item {
    width: 50%;
    padding: 40px 24px;
  }
}

.c-box__icon {
  /* SPでは非表示 */
  display: none;
}

@media (min-width: 768px) {
  .c-box__icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

.c-box__link {
  text-align: center;
  margin-top: 24px;
}

.c-broken {
  position: relative;
}

@media (min-width: 768px) {
  .c-broken {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 48px;
  }
}

.c-broken__img {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

@media (min-width: 768px) {
  .c-broken__img {
    overflow: hidden;
    width: 60%;
    margin: 0;
    position: absolute;
    right: 0;
  }
  .c-broken__img img {
    height: 400px;
  }
}

.c-broken__contents {
  position: relative;
  margin: -100px auto 0;
  padding: 32px;
  z-index: 2;
}

@media (min-width: 768px) {
  .c-broken__contents {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    /* 要素の幅指定 */
    margin: 0;
  }
}

.c-section {
  position: relative;
  padding: 48px 0;
}
/*# sourceMappingURL=style.css.map */