.p-section-title__sub{
  color: $color-accent;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: .1em;
}

.p-section-title{
  font-size: 18px;
  line-height: 1.3;
}