.l-page-header{
  background: $color-main;
  text-align: center;
  padding: 1rem 0;
}

.l-page-header__title{
  font-size: 18px;
  line-height: 1.3;
}

.l-page-header__sub{
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: .1em;
}